
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Light.eot');
	src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Light.woff') format('woff'),
		url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Thin.eot');
	src: url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
		url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Bold.eot');
	src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
		url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Medium.eot');
	src: url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
		url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Regular.eot');
	src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Regular_1.eot');
	src: url('../fonts/roboto/Roboto-Regular_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Regular_1.woff') format('woff'),
		url('../fonts/roboto/Roboto-Regular_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Bold_1.eot');
	src: url('../fonts/roboto/Roboto-Bold_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Bold_1.woff') format('woff'),
		url('../fonts/roboto/Roboto-Bold_1.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Light_1.eot');
	src: url('../fonts/roboto/Roboto-Light_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Light_1.woff') format('woff'),
		url('../fonts/roboto/Roboto-Light_1.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Thin_1.eot');
	src: url('../fonts/roboto/Roboto-Thin_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Thin_1.woff') format('woff'),
		url('../fonts/roboto/Roboto-Thin_1.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Medium_1.eot');
	src: url('../fonts/roboto/Roboto-Medium_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Medium_1.woff') format('woff'),
		url('../fonts/roboto/Roboto-Medium_1.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

*{
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	margin:0;
	height: 100%;
	position: relative;
	background-color: #e0f2f1;
	z-index: -20;

}

td{
	word-break: break-all;
}

.wrapper{
	width: 100%;
	/*height: 100%;*/
	transition: opacity 2s;
}



.search-bar{
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #009688;
	border-bottom: 1px solid;
	/*position: fixed;*/
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

form{
	display: inline-block;
	height: 40px;
	font-size: 0;
}

#search{
	outline: none;
	font-size: 20px;
	vertical-align: middle;
	height: 100%;
	border:0;
	padding: 10px;
}

.search-button{
	height: 100%;
	vertical-align: middle;
	border: 0;
}
.film-cards-container{
	margin-top: 80px;
	/*height: calc(100% - 130px);*/

	/*background-color: #e0f2f1;*/
}

.flex-container{
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	flex-wrap: wrap;
	align-content: flex-start;
	width: 1100px;
	margin: 0 auto;
}

footer{
	height: 50px;
	background-color: #00796b;
}

.film-card{
	display: inline-block;
	position: relative;
	width: 340px;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	border-radius: 4px;
}

.title{
	padding: 5px;
	display: inline-block;
}
.year{
	display: inline-block;
	padding: 5px;
	float: right;
}

.poster{
	width: 300px;
	height: 300px;
	margin: 20px;
}

.description{
	height: 60px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 10px;
	padding-right: 10px;
}

.film-card-button{
	width: 100%;
	border: 0;
	padding-top: 9px;
	padding-bottom: 10px;
	cursor: pointer;
}

.details-card{
	position: fixed;
	/*height: 80vh;*/
	width: 80vw;
	top: 10%;
	left: 10%;
	background-color: #e0e0e0;
}
.details-container{
	width: 100%;
	height: 100%;
	position: relative;
}
.top-block{
	position: relative;
	text-align: right;
}

.details-card-title{
	display: inline-block;
	float: left;
}

.close{
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.description-container{
	font-size: 0;
}

.poster-wrap{
	display: inline-block;
	vertical-align: top;
	width: 300px;
}

.adult{
	display: inline-block;
	position: absolute;
}

.adult-pic{
	width: 40px;
}

.poster-pic{
	width: 300px;
}

.video{
	width: 300px;
	margin-top: 10px;
}

.table-wrap{
	font-size: 11px;
	display: inline-block;
	vertical-align: top;
}

.desc-items{
	margin-left: 10px;
}

table{
	border-collapse: collapse;
	padding-left: 20px;
}

td{
	width: 200px;
	height: 20px;
	border:1px solid gray;
}

.overview{
	padding: 10px 10px 10px 10px;

}


.videoPlayer{
	display: inline-block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

.videoCloseButton{
	display: inline-block;
	vertical-align: top;
}

.video-icon{
	position: absolute;
	top: 0;
	right: 0;
	height: 41px;
}

.flex-container.column {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

.column > .film-card{
	width: initial;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
}

.column > .title{
	display: inline-block;
	vertical-align: middle;
}

.column > .video-icon{
	position: static;
	height: 30px;
}


.column > .description{
	display: inline-block;
	width: 294px;
	height: inherit;
	vertical-align: middle;
}

.column > .film-card-button{
	width: inherit;
	position: absolute;
	right: 0;
	height: 100%;
	top: 0;
}

.column > .poster{
	display: none;
}

.adult-icon{
	height: 30px;
}

.flex-container .column > .hidden{
	display: none;
}
.filter{
	background-color: #009688;
	padding: 10px;
	position: absolute;
	left: 0;
	right: 0;
	top: -42px;
	transition: 1s;
	z-index: -10;
}
.filter-item{
	display: inline-block;
}

.filter-lable{
	display: inline-block;
}
.filter-button{
	display: inline-block;
}


.enter-api-key{
	display: inline-block;
	border: 1px solid;
	padding: 5px;
	border-radius: 3px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.title-api-key{
	text-align: center;
	margin-bottom: 10px;
}
.form-api-key{
	height: 43px;
	font-size: 0;
}
.api-key-button{
	border: 0;
	height: 100%;
	vertical-align: middle;
}

.pg-img{
	width: 200px;
}


.search-type{
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	border: 0;
	border-left: 1px solid rgb(229, 229, 227);
}

.ani{
	top:80px;
}

/*settings*/

.settings-container{
	width: 500px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border: 1px solid gray;
	font-size: 0;
	background-color: #0097a7;
	z-index: 30;
}

.api-key-input {
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.radio-container{
	width: 100%;
	margin-bottom: 20px;
}

.radio{
	display: inline-block;
	height: 30px;
	margin-right: 20px;
	border: 1px solid;
}

.radio > .active-item{
	background: green;
}

.list{
	border: 0;
	height: 100%;
	vertical-align: middle;
}

.pages{
	border: 0;
	height: 100%;
	vertical-align: middle;
}

.items-per-page{
	height: 30px;
	width: 50px;
	vertical-align: middle;
	margin-right: 10px;
}
.ipp-text{
	font-size: 16px;
	vertical-align: middle;
}

.raiting-container{
	margin-bottom: 20px;

}

.r-lable{
	font-size: 16px;
	vertical-align: middle;
}

.r-raiting{
	vertical-align: middle;
}

.button-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.save-settings{
	margin-right: 10px;
}

/*page picker*/

.pages-picker-wrapper{
	width: 100%;
	text-align: center;
}

.pages-picker{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
}

.prew-page, .page-number, .next-page{
	text-decoration: none;
}

.page-index{

	display: inline-block;
}


/*favorit*/

.favorit-container{
	position: absolute;
	top: 0;
	left: -300px;
	bottom: 0;
	width: 300px;
	margin-top: 80px;
	border-right: 1px solid black;
	transition: 1s;
}

.favorit-container:before{
	content: "";
	position: absolute;
	right: -15px;
	top: 10px;
	display: inline-block;
	width: 15px;
	height: 30px;
	background-color: #00acc1;
	border-radius: 0 100% 100% 0/0 50% 50% 0;
}

.favorit-container-view{
	left: 0;
}

.fav-list{
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

.fav-item{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.fav-item_text-wrap{
	display: flex;
}

.fav-item_year{
	margin-left: 10px;
}







