<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/stylesheet.css">

</head>
<body>
    <div class="favorit-container">
        <ul class="fav-list">
            <li class="fav-item">
                <div class="fav-item_text-wrap">
                    <div class="fav-item_title">batman</div>
                    <div class="fav-item_year">2005</div>
                </div>
                <button class="fav-item_delete">Удалить</button>
            </li>
            <li class="fav-item">
                <div class="fav-item_text-wrap">
                    <div class="fav-item_title">batman</div>
                    <div class="fav-item_year">2005</div>
                </div>
                <button class="fav-item_delete">Удалить</button>
            </li>
            <li class="fav-item">
                <div class="fav-item_text-wrap">
                    <div class="fav-item_title">batman</div>
                    <div class="fav-item_year">2005</div>
                </div>
                <button class="fav-item_delete">Удалить</button>
            </li>
            <li class="fav-item">
                <div class="fav-item_text-wrap">
                    <div class="fav-item_title">batman</div>
                    <div class="fav-item_year">2005</div>
                </div>
                <button class="fav-item_delete">Удалить</button>
            </li>
            <li class="fav-item">
                <div class="fav-item_text-wrap">
                    <div class="fav-item_title">batman</div>
                    <div class="fav-item_year">2005</div>
                </div>
                <button class="fav-item_delete">Удалить</button>
            </li>
        </ul>
    </div>
</body>
</html>