<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
</head>
<body>

<div class="settings-container">
    <input class="api-key-input" type="password" placeholder="API key">
        <div class="radio-container">
            <div class="radio">
                <button class="list">List</button>
                <button class="pages">Pages</button>
            </div>
            <input type="text" class="items-per-page">
            <span class="ipp-text">Элементов на странице</span>
        </div>
        <div class="raiting-container">
            <label class="r-lable"><input class="r-raiting" type="checkbox"> показывать рейтинг R</label>
        </div>

    <div class="button-wrapper">
        <button class="log-off">Log out</button>
        <div class="save-close">
            <button class="save-settings">Save</button>
            <button class="close-settings">Сlose</button>
        </div>
    </div>

</div>

</body>
</html>